<%= form_for(@omm) do |f| %>
  <% if @omm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@omm.errors.count, "error") %> prohibited this omm from being saved:</h2>

      <ul>
      <% @omm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_id %><br>
    <%= f.text_field :brand_id %>
  </div>
  <%= fields_for :message do |m| %>
    <div class="field">
      <%= m.label :text %>
      <%= m.text_area :text %>
    </div>
    <div class="field">
      <%= m.label :recaptcha_challenge_field %><br>
      <%= m.text_field :recaptcha_challenge_field %>
    </div>
    <div class="field">
      <%= m.label :recaptcha_response_field %><br>
      <%= m.text_field :recaptcha_response_field %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
